*.vcxproj.user
*.VC.opendb
*.sdf
*.suo
.vs/

MQ2Auth0.h

*.exp
*.pdb
*.map
*.dll
*.iobj
*.ipdb
*.log
*.lib
ISXEQ*
!DSurface.dll #allow dsurface.dll for mq2radar

Debug/
Intermediate/
ISXEQ*Intermediate
bin/
obj/



UpgradeLog.htm
/MacroQuest2.sln
/ISXEQ.sln
/MacroQuest2.sln
/ISXEQ.sln
/EQBCS/Release/EQBCS.tlog
/EQBCS/Release/EQBCS.tlog
/EQBCS/Release/EQBCS.tlog/rc.write.1.tlog
/EQBCS/Release/EQBCS.tlog/rc.read.1.tlog
/EQBCS/Release/EQBCS.tlog/rc.command.1.tlog
/EQBCS/Release/EQBCS.tlog/link.write.1.tlog
/EQBCS/Release/EQBCS.tlog/link.read.1.tlog
/EQBCS/Release/EQBCS.tlog/link.command.1.tlog
/EQBCS/Release/EQBCS.tlog/EQBCS.write.1u.tlog
/EQBCS/Release/EQBCS.tlog/EQBCS.lastbuildstate
/EQBCS/Release/EQBCS.tlog/CL.write.1.tlog
/EQBCS/Release/EQBCS.tlog/CL.read.1.tlog
/EQBCS/Release/EQBCS.tlog/CL.command.1.tlog
/Release/Macros/LootSort.exe
/Release/EQBCS.exe
/EQBCS/Release/stdafx.obj
/EQBCS/Release/service.obj
/EQBCS/Release/server.obj
/EQBCS/Release/ringbuffer.obj
/EQBCS/Release/Resource.res
/EQBCS/Release/packet.obj
/EQBCS/Release/log.obj
/EQBCS/Release/guicon.obj
/EQBCS/Release/eqbcs_win.obj
/EQBCS/Release/eqbcserver.obj
/EQBCS/Release/Elevation.obj
/EQBCS/Release/clients.obj
/EQBCS/Release/clientlist.obj
/Release/MQ2Collections.bsc
