*.vcxproj.user
*.VC.opendb
*.sdf
*.suo
.vs/

MQ2Auth0.h

*.exp
*.pdb
*.map
*.dll
*.lib
*.iobj
*.ipdb
*.log
*.ilk

Debug/
Intermediate/
ISXEQ*Intermediate
*/Debug
*/Release
*/Intermediate

UpgradeLog.htm
