*.vcxproj.user
*.VC.opendb
*.sdf
*.suo
.vs/

MQ2Auth0.h

*.exp
*.pdb
*.map
*.dll
*.iobj
*.ipdb
*.log
*.lib

Debug/
Intermediate/
ISXEQ*Intermediate
bin/
obj/



UpgradeLog.htm
/MacroQuest2.sln
/ISXEQ.sln
/MacroQuest2.sln
/ISXEQ.sln
